* {
    padding: 0;
    margin: 0;
    font-size: 22px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

#contenedor {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden; /* cambiar valor en un futuro */
}

header {
    background-color: white;
    width: 100%;
    height: 3.7rem;
}

header #tl {
    width: 40%;
    height: 3.7em;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    float: left;
}

header #tl #logo {
    width: 55px;
}

header #tl #titulo {
    position: relative;
    font-size: 1rem;
    top: -0.800rem;
    left: 20px;
}

header #seleccionar {
    font-size: 1rem;
    width: 20%;
    height: 3.7em;
    text-align: center;
    float: left;
}

header #seleccionar #ulSeleccionar {
    list-style: none;
    width: 100%;
}

header #seleccionar #ulSeleccionar .liSeleccionar {
    display: inline-block;
    text-align: center;
}

header #seleccionar #ulSeleccionar .liSeleccionar .links {
    color: #686868;
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
    padding: 29px 15px;
}

header #seleccionar #ulSeleccionar .liSeleccionar .links:hover {
    background-color: #83838330;
    border-bottom: 2px solid #83838301;
}

header #seleccionar #ulSeleccionar .liSeleccionar #solicitudes {
    color: #000;
    border-bottom: 2px solid #009673;
}

header #extra {
    width: 40%;
    height: 3.7em;
    float: left;
}

#main {
    width: 90%;
    max-width: 1400px;
    margin: 30px auto;
}

#main #materia {
    background-color: #FAA723;
    width: 45%;
    height: 8rem;
    margin: 0 auto;
    border: 1px solid #D69632;
    border-radius: 10px;
}

#main #materia #contenidoMateria {
    color: rgb(255, 255, 255);
    padding: 20px;
}

#main #materia #contenidoMateria #profesor {
    font-size: 18px;
    padding-top: 1rem;
}

#main #opciones {
    background-color: rgba(34, 34, 58, 0.7);
    position:fixed;
    width: 15%;
    height: 120px;
    margin: 0% auto;
    border-radius: 10px;
}

#main #opciones #ulOpciones {
    list-style: none;
}

#main #opciones #ulOpciones .liOpciones {
    display: block;
    text-align: center;
}

#main #opciones #ulOpciones .liOpciones .btn {
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    margin: 10px 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#main #opciones #ulOpciones .liOpciones #bEditar {
    color: white;
    border: 1px solid white;
}

#main #opciones #ulOpciones .liOpciones #bEliminar {
    background-color: #f44336;
    color: white;
}

#main #post {
    background-color: white;
    width: 45%;
    height: 6.5rem;
    margin: 20px auto;
    border-radius: 10px;
    /*border: 1px solid #83838350;*/
    box-shadow: 0px 1px 3px 1px #83838370;
}

#main #post textarea {
    font-family: inherit;
    font-size: 0.81rem;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    padding: 18px 18px 0px 18px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    resize: none;
}

#main #post hr {
    border-top: 1px solid #83838330;
    width: 93%;
    margin: 0 auto;
}

#main #post #botones {
    width: 93%;
    margin: 8px auto;
}

#main #post #botones .btn {
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#main #post #botones #bEnviar {
    color: white;
    background-color: #009673;
}

#main #post #botones #bCancelar {
    color: #00000090;
    /*border: 0.1px solid #00000050;*/
}

#main #division {
    width: 50%;
    margin: 0 auto;
}

#main #pHistorial {
    font-size: 0.9rem;
    width: 45%;
    margin: 20px auto;
}

#main #historial {
    background-color: white;
    width: 45%;
    margin: 20px auto;
    border-radius: 10px;
}

#main #historial .contenedor {
    background-color: indigo;
    width: 100%;
    height: 5rem;
    padding: 18px 18px 0px 18px;
    border-radius: 10px;
}