* {
    padding: 0;
    margin: 0;
    font-size: 22px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

#contenedor {
    width: 100%;
    margin: auto;
    overflow: hidden; /* cambiar valor en un futuro */
}

header {
    background-color: white;
    width: 100%;
    height: 3.7rem;
}

header #tl {
    width: 40%;
    height: 3.7em;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    float: left;
}

header #tl #logo {
    width: 55px;
}

header #tl #titulo {
    position: relative;
    font-size: 1rem;
    top: -0.800rem;
    left: 20px;
}

header .seleccionar {
    font-size: 1rem;
    width: 20%;
    height: 3.7em;
    text-align: center;
    float: left;
}

header .ulSeleccionar {
    list-style: none;
    width: 100%;
}

header .liSeleccionar {
    display: inline-block;
    text-align: center;
}

header .links {
    color: #686868;
    font-size: 0.8rem;
    text-decoration: none;
    display: block;
    padding: 29px 15px;
}

header .links:hover {
    background-color: #83838330;
    border-bottom: 2px solid #83838301;
}

header #solicitudes {
    color: #000;
    border-bottom: 2px solid #009673;
}

header .salirDiv {
    width: 40%;
    font-size: 1rem;
    height: 3.7em;
    text-align: center;
    float: left;
}

header #salir:hover {
    color: #000;
    border-bottom: 2px solid #f44336;
}

#main {
    width: 90%;
    max-width: 1366px;
    margin: 30px auto;
}

#main #materia {
    background-color: #FAA723;
    width: 45%;
    height: 8rem;
    margin: 0 auto;
    border: 1px solid #D69632;
    border-radius: 10px;
}

#main #materia #contenidoMateria {
    color: rgb(255, 255, 255);
    padding: 20px;
}

#main #materia #contenidoMateria #profesor {
    font-size: 18px;
    padding-top: 1rem;
}

#main #opciones {
    background-color: rgba(34, 34, 58, 0.6);
    position:fixed;
    width: 15%;
    height: 120px;
    margin: 0% auto;
    border-radius: 10px;
}

#main #opciones #ulOpciones {
    list-style: none;
}

#main #opciones #ulOpciones .liOpciones {
    display: block;
    text-align: center;
}

#main #opciones #ulOpciones .liOpciones .btn {
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    margin: 10px 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#main #opciones #ulOpciones .liOpciones #bEditar {
    color: white;
    border: 1px solid white;
}

#main #opciones #ulOpciones .liOpciones #bEliminar {
    background-color: #f44336;
    color: white;
}

#main #post {
    background-color: white;
    width: 45%;
    height: 6.5rem;
    margin: 20px auto;
    border-radius: 10px;
    /*border: 1px solid #83838350;*/
    box-shadow: 0px 1px 3px 1px #83838370;
}

#main #post textarea {
    font-family: inherit;
    font-size: 0.81rem;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    padding: 18px 18px 0px 18px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    resize: none;
}

#main #post hr {
    border-top: 1px solid #83838330;
    width: 93%;
    margin: 0 auto;
}

#main #post #botones {
    width: 93%;
    margin: 8px auto;
}

#main #post #botones .btn {
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#main #post #botones #bEnviar {
    color: white;
    background-color: #009673;
}

#main #post #botones #bEnviar:hover {
    background-color: #05765C;
   }

#main #post #botones #bCancelar {
    color: #00000090;
}

#main #post #botones #bCancelar:hover {
    color: #00000090;
    border: 0.1px solid #00000050;
}

#main #division {
    width: 50%;
    margin: 0 auto;
}

#main #pHistorial {
    font-size: 0.9rem;
    width: 45%;
    margin: 20px auto;
}

#main #cHistorial {
    width: 45%;
    margin: 20px auto;
}

#main #cHistorial #tabla {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#main #cHistorial #tabla thead th {
    background-color: #009673;
    color: white;
}

#main #cHistorial #tabla thead th, td {
    padding: 18px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 0.81rem;
}

#main #cHistorial #tabla #desc {
    width: 50%;
}

#main #cHistorial #tabla #fecha {
    width: 30%;
}

#main #cHistorial #tabla #estado {
    width: 15%;
}

#main #cHistorial #tabla #selec {
    width: 5%;
}

/*
#main #cHistorial #historial {
    width: 55%;
    margin: 0px;
}
*/

#checkbox {
    margin: 0 auto;
}

#res {
    overflow-wrap: break-word;
    background-color: white;
    font-size: 0.81rem;
    width: 100%;
    margin: 10px auto;
    padding: 18px 18px 18px 18px;
    border: 2px solid rgba(131, 131, 131, 0.3);
    border-radius: 10px;
}


#main #modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

#main #modal #modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#main #modal #modal-content #formModal {
    width: 100%;
}

#main #modal #modal-content #formModal #form {
    width: 500px;
    margin: 0 auto;
}

.inputModal {
    width: 500px;
    height: 2rem;
    font-family: inherit;
    font-size: 0.81rem;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    outline: none;
}

#main #modal #modal-content #botonModal {
    display: inline-block;
    width: 100%;
    margin: 20px auto 1px auto;
}

#main #modal #modal-content #botonModal .btnModal {
    width: 150px;
    border-radius: 5px;
    border: none;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#main #modal #modal-content #botonModal #btnG {
    color: white;
    background-color: #009673;
    border: 1px solid #009673;
}

#main #modal #modal-content #botonModal #btnG:hover {
    background-color: #05765C;
}

#main #modal #modal-content #botonModal #btnC {
    background-color: white;
    color: #00000090;
}

#main #modal #modal-content #botonModal #btnC:hover {
    color: #00000090;
    border: 0.1px solid #00000050;
}

/*------------------------------------------------------------*/

#inputs {
    width: 100%;
}

#formularioUsuario {
    text-align: center;
}

.usuarioInput {
    font-family: inherit;
    font-size: 0.81rem;
    width: 49%;
    margin: 0px auto;
    padding: 12px 12px 12px 14px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    resize: none;
}

#avatarU {
    width: 10%;
}

#nombreU {
    width: 60%;
}

#activoU {
    width: 20%;
}

#selecU {
    width: 10%;
}