* {
    padding: 0;
    margin: 0;
    font-size: 22px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

#contenedor {
    width: 100%;
    margin: auto;
    overflow: hidden; /* cambiar valor en un futuro */
}

header {
    background-color: white;
    width: 100%;
    height: 3.7rem;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

header #logo {
    width: 55px;
}

header #titulo {
    position: relative;
    font-size: 1rem;
    top: -0.800rem;
    left: 20px;
}

#main {
    width: 90%;
    margin: 30px auto;
}

#main #materia {
    background-color: #FAA723;
    width: 45%;
    height: 8rem;
    margin: 0 auto;
    border-radius: 10px;
}

#main #materia #contenidoMateria {
    color: rgb(255, 255, 255);
    padding: 20px;
}

#main #materia #contenidoMateria #profesor {
    font-size: 18px;
    padding-top: 1rem;
}

#main #post {
    background-color: white;
    width: 45%;
    height: 7rem;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px #83838370;
}

#main #post textarea {
    font-family: inherit;
    font-size: 0.81rem;
    width: 100%;
    height: 4.5rem;
    margin: 0 auto;
    padding: 18px 0px 0px 18px;
    border-radius: 10px;
    border-style: none;
    outline: none;
    resize: none;
}

#main #post hr {
    border-top: 1px solid #83838330;
    width: 93%;
    margin: 0 auto;
}

#main #post #botones {
    width: 93%;
    margin: 8px auto;
}

#main #post #botones .btn {
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

#main #post #botones #bEnviar {
    color: white;
    background-color: #009673;
}

#main #post #botones #bCancelar {
    color: #00000090;
    border: 0.1px solid #00000050;
}

/*#fondoBlanco {
    background-color: white;
    width: auto;
    height: 5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#fondoBlanco #logo {
    position: absolute;
    width: 55px;
    top: 12%;
    left: 2%;
}

#fondoBlanco h1 {
    font-size: 22px;
    position: absolute;
    top: 22px;
    left: 110px;
}

#fondoGris {
    position: absolute;
    top: 15%;
    left: 25px;
    right: 0;
}

#sidebar , #sidebar2 {
    background-color: lawngreen;
    float: left;
    width: 20%;
}

#interfazSolicitudes {
    float: left;
    width: 60%;
    background-color: lightcoral;
}

@media screen and (max-width: 1000px) {
    #sidebar , #sidebar2 , #interfazSolicitudes {
        width: 100%;
    }
}

#bracketTitulo {
    background-color: #FAA723;
    width: 40.125em;
    height: 9.125em;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid #D69632;
}

#bracketTitulo p {
    color: white;
    font-size: 22px;
    padding-top: 2px;
    padding-left: 30px;
}

#post {
    font-family: inherit;
    font-size: inherit;
    width: 37.050em;
    height: 7.0em;
    margin-top: 1.250em;
    margin-left: 22.125em;
    padding: 1.250em;
    border-radius: 10px;
    border: 2px solid #ccc;
    resize: none;
}

#icon {
    position: absolute;
    width: 6.875em;
    bottom: 12.500em;
    right: 26.250em;
}

#bracketHistorial {
    position: absolute;
    background-color: turquoise;
    left: 300px;
    margin: 0 auto;
}*/